<% include common/header %>

<section class="hero is-danger is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Whoops
      </h1>
      <h2 class="subtitle">
        <p><%= error.message || error %></p>
      </h2>
    </div>
  </div>
</section>

<% include common/footer %>
